<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sczh.platform.dao.LjflResidentTypeMapper" >
  <resultMap id="BaseResultMap" type="com.sczh.platform.po.LjflResidentType" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="lastChangeTime" property="lastchangetime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="beenDeleted" property="beendeleted" jdbcType="INTEGER" />
    <result column="deletedTime" property="deletedtime" jdbcType="TIMESTAMP" />
    <result column="businessSystemId" property="businesssystemid" jdbcType="VARCHAR" />
    <result column="tenantId" property="tenantid" jdbcType="VARCHAR" />
    <result column="f_code" property="fCode" jdbcType="VARCHAR" />
    <result column="f_color" property="fColor" jdbcType="VARCHAR" />
    <result column="f_name" property="fName" jdbcType="VARCHAR" />
    <result column="auditId" property="auditid" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="unitId" property="unitid" jdbcType="VARCHAR" />
    <result column="str1" property="str1" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, createTime, lastChangeTime, status, beenDeleted, deletedTime, businessSystemId, 
    tenantId, f_code, f_color, f_name, auditId, userId, unitId, str1
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ljfl_resident_type
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ljfl_resident_type
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sczh.platform.po.LjflResidentType" >
    insert into ljfl_resident_type (id, createTime, lastChangeTime, 
      status, beenDeleted, deletedTime, 
      businessSystemId, tenantId, f_code, 
      f_color, f_name, auditId, 
      userId, unitId, str1
      )
    values (#{id,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{lastchangetime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{beendeleted,jdbcType=INTEGER}, #{deletedtime,jdbcType=TIMESTAMP}, 
      #{businesssystemid,jdbcType=VARCHAR}, #{tenantid,jdbcType=VARCHAR}, #{fCode,jdbcType=VARCHAR}, 
      #{fColor,jdbcType=VARCHAR}, #{fName,jdbcType=VARCHAR}, #{auditid,jdbcType=VARCHAR}, 
      #{userid,jdbcType=VARCHAR}, #{unitid,jdbcType=VARCHAR}, #{str1,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sczh.platform.po.LjflResidentType" >
    insert into ljfl_resident_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="lastchangetime != null" >
        lastChangeTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="beendeleted != null" >
        beenDeleted,
      </if>
      <if test="deletedtime != null" >
        deletedTime,
      </if>
      <if test="businesssystemid != null" >
        businessSystemId,
      </if>
      <if test="tenantid != null" >
        tenantId,
      </if>
      <if test="fCode != null" >
        f_code,
      </if>
      <if test="fColor != null" >
        f_color,
      </if>
      <if test="fName != null" >
        f_name,
      </if>
      <if test="auditid != null" >
        auditId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="unitid != null" >
        unitId,
      </if>
      <if test="str1 != null" >
        str1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastchangetime != null" >
        #{lastchangetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="beendeleted != null" >
        #{beendeleted,jdbcType=INTEGER},
      </if>
      <if test="deletedtime != null" >
        #{deletedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="businesssystemid != null" >
        #{businesssystemid,jdbcType=VARCHAR},
      </if>
      <if test="tenantid != null" >
        #{tenantid,jdbcType=VARCHAR},
      </if>
      <if test="fCode != null" >
        #{fCode,jdbcType=VARCHAR},
      </if>
      <if test="fColor != null" >
        #{fColor,jdbcType=VARCHAR},
      </if>
      <if test="fName != null" >
        #{fName,jdbcType=VARCHAR},
      </if>
      <if test="auditid != null" >
        #{auditid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="unitid != null" >
        #{unitid,jdbcType=VARCHAR},
      </if>
      <if test="str1 != null" >
        #{str1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sczh.platform.po.LjflResidentType" >
    update ljfl_resident_type
    <set >
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastchangetime != null" >
        lastChangeTime = #{lastchangetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="beendeleted != null" >
        beenDeleted = #{beendeleted,jdbcType=INTEGER},
      </if>
      <if test="deletedtime != null" >
        deletedTime = #{deletedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="businesssystemid != null" >
        businessSystemId = #{businesssystemid,jdbcType=VARCHAR},
      </if>
      <if test="tenantid != null" >
        tenantId = #{tenantid,jdbcType=VARCHAR},
      </if>
      <if test="fCode != null" >
        f_code = #{fCode,jdbcType=VARCHAR},
      </if>
      <if test="fColor != null" >
        f_color = #{fColor,jdbcType=VARCHAR},
      </if>
      <if test="fName != null" >
        f_name = #{fName,jdbcType=VARCHAR},
      </if>
      <if test="auditid != null" >
        auditId = #{auditid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="unitid != null" >
        unitId = #{unitid,jdbcType=VARCHAR},
      </if>
      <if test="str1 != null" >
        str1 = #{str1,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sczh.platform.po.LjflResidentType" >
    update ljfl_resident_type
    set createTime = #{createtime,jdbcType=TIMESTAMP},
      lastChangeTime = #{lastchangetime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      beenDeleted = #{beendeleted,jdbcType=INTEGER},
      deletedTime = #{deletedtime,jdbcType=TIMESTAMP},
      businessSystemId = #{businesssystemid,jdbcType=VARCHAR},
      tenantId = #{tenantid,jdbcType=VARCHAR},
      f_code = #{fCode,jdbcType=VARCHAR},
      f_color = #{fColor,jdbcType=VARCHAR},
      f_name = #{fName,jdbcType=VARCHAR},
      auditId = #{auditid,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR},
      unitId = #{unitid,jdbcType=VARCHAR},
      str1 = #{str1,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
   <select id="selectLjflResidentTypeByParamters" parameterType="java.lang.String"  resultType = "java.lang.Integer">
    select 
    count(*)
    FROM ljfl_resident_type
    
   	  where
   		 1=1
   	 	    <if test="beendeleted != null" >
      and
        beenDeleted = #{beendeleted,jdbcType=VARCHAR}
      </if>
   
        <if test="userId != null" >
      and
        userId = #{userId,jdbcType=VARCHAR}
      </if>
           <if test="unitId != null" >
      and
        unitId = #{unitId,jdbcType=VARCHAR}
      </if>
            <if test="f_code != null" >
      and
        f_code = #{f_code,jdbcType=VARCHAR}
      </if>
           <if test="f_name != null" >
      and
        f_name = #{f_name,jdbcType=VARCHAR}
      </if>
	
  </select>
     <select id="selectLjflResidentTypeByPamaters" parameterType="java.lang.String"  resultMap="BaseResultMap">
    select 
  <include refid="Base_Column_List" />
    FROM ljfl_resident_type
    
   	  where
   		 1=1
 	    <if test="beendeleted != null" >
      and
        beenDeleted = #{beendeleted,jdbcType=VARCHAR}
      </if>
       <if test="userId != null" >
      and
        userId = #{userId,jdbcType=VARCHAR}
      </if>
   	
           <if test="unitId != null" >
      and
        unitId = #{unitId,jdbcType=VARCHAR}
      </if>
        <if test="f_code != null" >
      and
        f_code = #{f_code,jdbcType=VARCHAR}
      </if>
           <if test="f_name != null" >
      and
        f_name = #{f_name,jdbcType=VARCHAR}
      </if>
        
      order BY createTime
        <if test="currentNum != null" >
      LIMIT
      ${currentNum}
      ,
       ${endNum}
      </if>
	
  </select>
     <select id="selectLjflResidentType" parameterType="java.lang.String"  resultMap="BaseResultMap">
    select 
  <include refid="Base_Column_List" />
    FROM ljfl_resident_type
    where beenDeleted = '0'
  </select>
     <select id="selectresidenttypeList" parameterType="java.lang.String"  resultMap="BaseResultMap">
    select 
  <include refid="Base_Column_List" />
    FROM ljfl_resident_type
    where f_name = #{name,jdbcType=VARCHAR}
    and  beenDeleted = '0'
  </select>
</mapper>