<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sczh.platform.dao.WorkPointMapper" >
  <resultMap id="BaseResultMap" type="com.sczh.platform.po.WorkPoint" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="point1" property="point1" jdbcType="VARCHAR" />
    <result column="point2" property="point2" jdbcType="VARCHAR" />
    <result column="point3" property="point3" jdbcType="VARCHAR" />
    <result column="point4" property="point4" jdbcType="VARCHAR" />
    <result column="pointName" property="pointname" jdbcType="VARCHAR" />
    <result column="unitID" property="unitid" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="unitName" property="unitname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, point1, point2, point3, point4, pointName, unitID, userId, unitName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from workpoint
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from workpoint
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sczh.platform.po.WorkPoint" >
    insert into workpoint (id, point1, point2, 
      point3, point4, pointName, 
      unitID, userId, unitName
      )
    values (#{id,jdbcType=VARCHAR}, #{point1,jdbcType=VARCHAR}, #{point2,jdbcType=VARCHAR}, 
      #{point3,jdbcType=VARCHAR}, #{point4,jdbcType=VARCHAR}, #{pointname,jdbcType=VARCHAR}, 
      #{unitid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{unitname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sczh.platform.po.WorkPoint" >
    insert into workpoint
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="point1 != null" >
        point1,
      </if>
      <if test="point2 != null" >
        point2,
      </if>
      <if test="point3 != null" >
        point3,
      </if>
      <if test="point4 != null" >
        point4,
      </if>
      <if test="pointname != null" >
        pointName,
      </if>
      <if test="unitid != null" >
        unitID,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="unitname != null" >
        unitName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="point1 != null" >
        #{point1,jdbcType=VARCHAR},
      </if>
      <if test="point2 != null" >
        #{point2,jdbcType=VARCHAR},
      </if>
      <if test="point3 != null" >
        #{point3,jdbcType=VARCHAR},
      </if>
      <if test="point4 != null" >
        #{point4,jdbcType=VARCHAR},
      </if>
      <if test="pointname != null" >
        #{pointname,jdbcType=VARCHAR},
      </if>
      <if test="unitid != null" >
        #{unitid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="unitname != null" >
        #{unitname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sczh.platform.po.WorkPoint" >
    update workpoint
    <set >
      <if test="point1 != null" >
        point1 = #{point1,jdbcType=VARCHAR},
      </if>
      <if test="point2 != null" >
        point2 = #{point2,jdbcType=VARCHAR},
      </if>
      <if test="point3 != null" >
        point3 = #{point3,jdbcType=VARCHAR},
      </if>
      <if test="point4 != null" >
        point4 = #{point4,jdbcType=VARCHAR},
      </if>
      <if test="pointname != null" >
        pointName = #{pointname,jdbcType=VARCHAR},
      </if>
      <if test="unitid != null" >
        unitID = #{unitid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="unitname != null" >
        unitName = #{unitname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sczh.platform.po.WorkPoint" >
    update workpoint
    set point1 = #{point1,jdbcType=VARCHAR},
      point2 = #{point2,jdbcType=VARCHAR},
      point3 = #{point3,jdbcType=VARCHAR},
      point4 = #{point4,jdbcType=VARCHAR},
      pointName = #{pointname,jdbcType=VARCHAR},
      unitID = #{unitid,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR},
      unitName = #{unitname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
      <select id="selectBypointName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from workpoint
    where pointName = #{pointname,jdbcType=VARCHAR}
  </select>
        <select id="getWorkPointList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from workpoint
  		 order by pointName LIMIT
    ${startSize},
     ${endSize}
  </select>
     <select id="getWorkPointListNoPrameter" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from workpoint
  		 order by pointName
  </select>
       <select id="getWorkPointListByUnit" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from workpoint
  		where unitID= ${unitId}
  </select>
</mapper>